---
import GroupCreator from "./GroupCreator.astro";
import GroupMembers from "./GroupMembers.astro";
import GroupMods from "./GroupMods.astro";

const { gid } = Astro.props;
const res = await fetch('https://cscd488group3-bloombuddy.netlify.app/.netlify/functions/getGroupInfo', {
          method: "POST",
          headers: { "Content-Type": "application/json" },
          body: JSON.stringify({gid}),
        });
const data = await res.json();
console.log("(GroupInfo.astro): ", data);

// make the privacy label human-readable
function getPrivacyLabel(priv: number) {
  switch (priv) {
    case 0: return "Private";
    case 1: return "Mods-Only";
    case 2: return "Protected";
    case 3: return "Public";
    default: return "Unknown";
  }
}
---

<br>
<section id="groupInfo" class="backdrop-blur-md bg-[#56b9064d]" data-gid={gid}>
  <h1>Group Info</h1>
  <div class="text-sm info-row">
    <strong>Group ID:</strong>
    <span class="right">
      {gid} 
    </span>
  </div>
  <div class="info-row">
    <strong>Group Name:</strong>
    <span class="right">
      {data[0]?.gname}
    </span>
  </div>
  <div class="info-row">
    <strong>Visibility:</strong>
    <span class="right">
      {getPrivacyLabel(Number(data[0]?.priv))}
    </span>
  </div>
  <div class="info-row">
    <strong>Creator:</strong>
    <span class="right">
      <GroupCreator gid={gid} />
    </span>
  </div>
  <div class="info-row">
    <strong>Moderators:</strong>
    <span class="right">
      <GroupMods gid={gid} /> 
    </span>
  </div>
  <div class="info-row">
    <strong>Members:</strong>
    <span class="right">
      <GroupMembers gid={gid} /> 
    </span>
  </div>
</section>
